* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
}
.body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

::selection {
  color: #f2f2f2;
  background: rgb(12, 12, 12);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

::-webkit-scrollbar {
  width: 0%;
}

.progressbar {
  position: fixed;
  top: 0;
  right: 0.3%;
  background: rgba(0, 0, 0, 1);
  width: 10px;
  z-index: 1;
}

#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  background: #ffffff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transform-origin: 80% 80%;
  transition: transform 0.5s ease-in-out;
  animation: borderAnim 4s linear infinite;
  animation-name: none;
  z-index: 10;
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
}

@keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

/*DEFAULT*/

.catJam {
  width: 30%;
  height: 30%;
  object-fit: contain;
  overflow: hidden;
}

.preload-main {
  left: 0%;
  position: absolute;
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*---------------SECTION HEADER---------------------*/
.preload-main {
  left: 0%;
  position: absolute;
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-wrapper {
  width: 100%;
  height: 100vh;
}
.hero {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(12, 12, 12);
  text-align: left;
}

/*NAVIGATION*/
.project-nav {
  position: fixed;
  display: flex;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 11;
  color: #f7f7f7;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 5%;
  margin-top: 3%;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  margin-right: 5%;
  margin-top: 3%;
}

.nav-back-subline-left {
  font-family: krona one, serif;
  font-size: 0.7rem;
  text-align: left;
  padding-left: 10%;
  text-decoration: none;
  color: #f7f7f7;
}

.nav-back-subline-right {
  font-family: krona one, serif;
  font-size: 0.7rem;
  text-align: right;
  padding-right: 10%;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #f7f7f7;
}

.nav-arrow-mobile {
  display: none;
}

/*NAVIGATION*/

/*HERO CONTENT*/

.headline {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.hero-h1 {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 8rem;
  text-transform: uppercase;
  font-family: krona One, serif;
  z-index: 10;
  margin-left: 5%;
}

.hero-h2 {
  position: absolute;
  text-decoration: none;
  color: rgb(18, 18, 18);
  font-size: 40rem;
  text-transform: uppercase;
  font-family: Krona One;
  margin-left: 5%;
}

.video-bg {
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  mix-blend-mode: difference;
  object-fit: fill;
  opacity: 0.5;
}

.tag {
  position: fixed;
  color: white;
  font-family: krona one, serif;
  font-size: 0.7rem;
  padding-left: 5%;
  text-transform: uppercase;
  mix-blend-mode: difference;
  z-index: 11;
  text-decoration: none;
}

.social-media {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100vh;
  padding-left: 5%;
  padding-bottom: 5%;
  mix-blend-mode: difference;
  z-index: 10;
  overflow: hidden;
}

.social-media a {
  color: rgb(255, 255, 255);
  margin: 10px;
  mix-blend-mode: difference;
  overflow: hidden;
}

/*HERO CONTENT*/

.about_me_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
}

.rotate-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rotate-text {
  height: 80%;
  width: 80%;
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
  -webkit-animation: rotate-center 30s linear infinite reverse;
  animation: rotate-center 30s linear infinite reverse;
  z-index: 1;
  overflow: hidden;
}

@-webkit-keyframes rotate-center {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.about_headline {
  color: rgb(12, 12, 12);
  font-size: 7rem;
  font-family: "Krona One";
  text-transform: uppercase;
}

.about_filltext {
  color: rgb(12, 12, 12);
  font-size: 1rem;
  font-family: "Krona One";
  width: 60%;
  text-align: center;
}

.hand_emoji {
  position: sticky;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

/*---------------- Impressum Datenschutz-------------------*/

.impressum_datenschutz_wrapper {
  display: flex;
  width: 100%;
  height: 140vh;
  background-color: #f7f7f7;
  align-items: center;
  color: rgb(12, 12, 12);
  font-family: "Krona One";
  flex-direction: column;
}

.impressum_fließtext_info {
  font-size: 1rem;
  z-index: 3;
  line-height: 2rem;
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.datenschutzerlkärung_wrapper {
  display: flex;
  width: 100%;
  height: 200vh;
  justify-content: center;
  margin-bottom: 10%;
}

.datenschutzerklärung_text_wrapper {
  display: flex;
  width: 80%;
  height: 170vh;
  justify-content: center;
  color: rgb(12, 12, 12);
  font-family: "Krona One";
  line-height: 2rem;
  flex-direction: column;
}

.datenschutz_h1 {
  font-size: 3rem;
  font-family: "Krona One";
  line-height: 5rem;
  padding-bottom: 5%;
  padding-top: 25%;
  padding-left: 5%;
}

.datenschutz_h2 {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 2rem;
  padding-top: 3rem;
  padding-left: 5%;
}

.datenschutz_text {
  padding-left: 5%;
}

/*---------------- Impressum Datenschutz-------------------*/

/*---------------- ABout me info  SECTION -------------------*/

.about_me_info {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  color: rgb(12, 12, 12);
  font-family: "Krona One";
  flex-direction: column;
}

.about_headline_info {
  z-index: 3;
  font-size: 4rem;
  text-transform: uppercase;
  text-decoration: none;
  width: 40%;
  margin-right: 25%;
}

.about_headline_info:hover {
  text-decoration: underline;
}
.about_fließtext_info {
  font-size: 1.5rem;
  z-index: 3;
  line-height: 3rem;
  width: 40%;
  padding-top: 2%;
  margin-right: 25%;
}

.timo_gif_static {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin-left: 25%;
  background: #f7f7f7;
  opacity: 1;
  z-index: 2;
  transform: ease 0.2s;
}

.timo_gif_active {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin-left: 25%;
  z-index: 1;
}

.about_headline_info:hover + .timo_gif_static {
  opacity: 0;
}
/*---------------- ABout me info  SECTION -------------------*/

/*---------------- Hobby me info  SECTION -------------------*/

.cv_wrapper_01 {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-top: 10%;
}

.cv_headline_border {
  border-bottom: 3px solid rgb(255, 255, 255);
  width: 70%;
  margin-left: 15%;
  color: rgb(255, 255, 255);
  font-family: "krona one";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv_headline_border_tag {
  text-transform: uppercase;
  margin-bottom: 0.3%;
}

.about_cv_section {
  width: 100%;
  height: 150vh;
  background: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
}

.about_cv_headline {
  margin-top: 5%;
  font-family: "Krona One";
  font-size: 5rem;
  color: #f7f7f7;
  border-bottom: 3px solid rgb(255, 255, 255);
  width: 70%;
  margin-left: 15%;
}

.about_cv_info_text {
  color: white;
  margin-left: 15%;
  margin-top: 2%;
  font-size: 1.5rem;
  width: 70%;
  line-height: 3rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.about_cv_headline:hover + .about_cv_info_text {
  opacity: 1;
}

/*---------------- Hobby me info  SECTION -------------------*/

/*---------------- FOOTER SECTION -------------------*/

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: rgb(12, 12, 12);
  font-family: "Krona One";
  text-transform: uppercase;
  text-decoration: none;
  z-index: -3;
}

.container-copyright {
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  margin-bottom: 20%;
  background-color: #f7f7f7;
}

.footer-copyright {
  position: absolute;
  text-align: center;
  color: rgb(12, 12, 12);
  font-size: 4rem;
  overflow: hidden;
}

.footer-wrapper-links {
  position: relative;
  width: 100%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 10%;
  flex-wrap: wrap;
  overflow: hidden;
}

.back-top-footer {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 3rem;
  overflow: hidden;
  z-index: 10;
  width: 40%;
  text-align: center;
}

.back-top-footer:hover {
  text-decoration: underline;
}

.footer-hit-up {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 3rem;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  width: 40%;
  text-align: center;
}

.footer-hit-up:hover {
  text-decoration: underline;
}
.impressum_footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 30vh;
  position: absolute;
  margin-top: 10%;
}

.impressum-datenschutz {
  position: absolute;
  text-decoration: none;
  font-size: 1rem;
  color: #222222;
  align-self: flex-end;
}

.impressum-datenschutz:hover {
  text-decoration: underline;
}

/*---------------- FOOTER SECTION -------------------*/

@media only screen and (max-width: 1350px) {
  /*---------------- HERO SECTION -------------------*/
  .hero-h1 {
    font-size: 6rem;
  }

  .hero-h2 {
    font-size: 30rem;
  }
  /*---------------- HERO SECTION -------------------*/

  /*---------------- Impressum Datenschutz-------------------*/

  .datenschutzerlkärung_wrapper {
    display: flex;
    width: 100%;
    height: 220vh;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  /*---------------- Impressum Datenschutz-------------------*/

  /*---------------- ABOUT ME SECTION -------------------*/
  .about_headline_info {
    font-size: 3rem;
  }

  .about_fließtext_info {
    font-size: 1.3rem;
    line-height: 2.6rem;
  }

  .timo_gif_static {
    width: 60%;
    height: 60%;
    margin-left: 30%;
  }

  .timo_gif_active {
    width: 60%;
    height: 60%;
    margin-left: 30%;
  }

  .hand_emoji {
    width: 40%;
    height: 40%;
    object-fit: contain;
  }

  .rotate-container {
    width: 70%;
    height: 70%;
  }

  /*---------------- ABOUT ME SECTION -------------------*/

  /*---------------- CV SECTION -------------------*/
  .about_cv_headline {
    font-size: 3rem;
  }
  .about_cv_info_text {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  /*---------------- CV SECTION -------------------*/

  /*---------------- FOOTER SECTION -------------------*/

  /*---------------- FOOTER SECTION -------------------*/
}

@media only screen and (max-width: 950px) {
  /*---------------- ABOUT ME SECTION -------------------*/

  .about_headline_info {
    font-size: 2rem;
  }

  .about_fließtext_info {
    font-size: 1rem;
    line-height: 2rem;
  }

  .timo_gif_static {
    width: 50%;
    height: 50%;
    margin-left: 30%;
  }

  .timo_gif_active {
    width: 50%;
    height: 50%;
    margin-left: 30%;
  }
  /*---------------- ABOUT ME SECTION -------------------*/

  /*---------------- Impressum Datenschutz SECTION -------------------*/

  .about_cv_headline {
    font-size: 2.5rem;
  }
  .about_cv_info_text {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  .impressum_datenschutz_wrapper {
    display: flex;
    width: 100%;
    height: 140vh;
    background-color: #f7f7f7;
    align-items: center;
    color: rgb(12, 12, 12);
    font-family: "Krona One";
    flex-direction: column;
  }

  .impressum_fließtext_info {
    font-size: 0.7rem;
    z-index: 3;
    line-height: 1.4rem;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .datenschutzerlkärung_wrapper {
    display: flex;
    width: 100%;
    height: 250vh;
    justify-content: center;
    margin-bottom: 10%;
  }

  .datenschutzerklärung_text_wrapper {
    display: flex;
    width: 80%;
    height: 170vh;
    justify-content: center;
    color: rgb(12, 12, 12);
    font-family: "Krona One";
    flex-direction: column;
    margin-top: 10%;
  }

  .datenschutz_h1 {
    font-size: 2rem;
    font-family: "Krona One";
    line-height: 4rem;
    padding-bottom: 5%;
    padding-top: 25%;
    padding-left: 5%;
  }

  .datenschutz_h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 3rem;
    padding-left: 5%;
  }

  .datenschutz_text {
    font-size: 0.7rem;
    line-height: 2rem;
    padding-left: 5%;
  }
  /*---------------- Impressum Datenschutz SECTION -------------------*/

  /*---------------- FOOTER SECTION -------------------*/

  .impressum_footer {
    margin-top: 35%;
  }
  .impressum-datenschutz {
    font-size: 0.7rem;
    padding-top: 65%;
  }

  .footer-copyright {
    position: absolute;
    text-align: center;
    color: rgb(12, 12, 12);
    font-size: 3rem;
    overflow: hidden;
  }

  .back-top-footer {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 35%;
    overflow: hidden;
  }

  .back-top-footer:hover {
    text-decoration: underline;
  }

  .footer-hit-up {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 35%;
  }
}

@media only screen and (max-width: 650px) {
  #cursor {
    display: none;
  }
  /*---------------- HERO SECTION -------------------*/

  .catJam {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .hero-h1 {
    font-size: 2rem;
    margin-left: 0;
  }
  .hero-h2 {
    font-size: 10rem;
    margin-left: 0;
  }

  .nav-back {
    display: none;
  }

  .nav-left,
  .nav-right {
    padding-top: 10%;
  }

  .nav-arrow-mobile {
    display: inline;
  }

  .nav-back-subline-left {
    font-family: "Krona One";
    font-size: 0.7rem;
    text-align: left;
    padding-left: 10%;
  }

  .nav-back-subline-right {
    font-family: "Krona One";
    font-size: 0.7rem;
    text-align: right;
    padding-right: 10%;
  }

  .tag {
    display: none;
  }

  .social-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
  }

  .social-media a {
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    margin-top: 80%;
  }

  /*---------------- HERO SECTION -------------------*/

  /*---------------- Impressum Datenschutz SECTION -------------------*/

  .about_cv_headline {
    font-size: 2.5rem;
  }
  .about_cv_info_text {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  .impressum_datenschutz_wrapper {
    display: flex;
    width: 100%;
    height: 150vh;
    background-color: #f7f7f7;
    align-items: center;
    color: rgb(12, 12, 12);
    font-family: "Krona One";
    flex-direction: column;
    margin-bottom: 35%;
  }

  .datenschutzerlkärung_wrapper {
    display: flex;
    width: 100%;
    height: 280vh;
    justify-content: center;
    margin-bottom: 5%;
  }

  .datenschutz_h1 {
    font-size: 2rem;
    font-family: "Krona One";
    line-height: 4rem;
    padding-bottom: 5%;
    padding-top: 25%;
    padding-left: 5%;
  }

  .datenschutz_h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 3rem;
    padding-left: 5%;
  }

  .datenschutz_text {
    font-size: 0.8rem;
    line-height: 2rem;
    padding-left: 5%;
  }
  /*---------------- Impressum Datenschutz SECTION -------------------*/
  /*---------------- About SECTION -------------------*/

  .about_me_info {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: #f7f7f7;
    justify-content: unset;
    align-items: unset;
    color: rgb(12, 12, 12);
    font-family: "Krona One";
    flex-direction: none;
  }

  .about_headline_info {
    display: flex;
    align-self: center;
    font-size: 2rem;
    width: 90%;
    text-align: left;
    margin-top: 20%;
    margin-right: 0;
  }

  .about_fließtext_info {
    display: flex;
    align-self: center;
    font-size: 0.8rem;
    line-height: 2rem;
    width: 90%;
    margin-right: 0%;
    text-align: left;
  }

  .timo_gif_static {
    display: none;
    align-self: center;
    width: 100%;
    height: 100%;
    margin-top: 40%;
    margin-left: 0%;
  }

  .timo_gif_active {
    display: none;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    margin-top: 40%;
    margin-left: 0%;
  }
  .about_me_wrapper {
    height: 100vh;
  }

  .hand_emoji {
    width: 37%;
    height: 370%;
    object-fit: contain;
    z-index: 10;
    margin-bottom: 0%;
  }

  .rotate-container {
    width: 85%;
    height: 85%;
    z-index: 10;
    margin-bottom: 0%;
  }
  /*---------------- About SECTION -------------------*/
  .about_cv_section {
    height: 70%;
  }
  .cv_headline_border {
    margin-bottom: 10%;
  }
  .about_cv_headline {
    font-size: 1.2rem;
  }
  .about_cv_info_text {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
  .impressum_footer {
    margin-top: 35%;
  }
  .impressum-datenschutz {
    font-size: 0.7rem;
  }

  .section-footer {
    height: 100vh;
  }

  .footer-copyright {
    position: absolute;
    text-align: center;
    color: rgb(12, 12, 12);
    width: 100%;
    font-size: 2rem;
  }

  .footer-hit-up {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 0.8rem;
    margin-top: 45%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .back-top-footer {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 0.8rem;
    margin-top: 45%;
    margin-left: 5%;
    overflow: hidden;
  }

  .back-top-footer:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 450px) {
  .hero-h1 {
    font-size: 1.5rem;
  }

  .hero-h2 {
    font-size: 8rem;
  }

  /*---------------- Impressum Datenschutz SECTION -------------------*/

  .about_cv_headline {
    font-size: 2.5rem;
  }
  .about_cv_info_text {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  .impressum_datenschutz_wrapper {
    display: flex;
    width: 100%;
    height: 150vh;
    background-color: #f7f7f7;
    align-items: center;
    color: rgb(12, 12, 12);
    font-family: "Krona One";
    flex-direction: column;
    margin-bottom: 35%;
  }

  .datenschutzerlkärung_wrapper {
    display: flex;
    width: 100%;
    height: 200vh;
    justify-content: center;
    margin-bottom: 5%;
  }

  .datenschutzerklärung_text_wrapper {
    overflow: auto;
  }

  .datenschutz_h1 {
    font-size: 1rem;
    font-family: "Krona One";
    line-height: 3rem;
    padding-bottom: 5%;
    padding-top: 20%;
    padding-left: 5%;
  }

  .datenschutz_h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 3rem;
    padding-left: 5%;
  }

  .datenschutz_text {
    font-size: 0.8rem;
    line-height: 2rem;
    padding-left: 5%;
  }
  /*---------------- Impressum Datenschutz SECTION -------------------*/

  .impressum-datenschutz {
    font-size: 0.7rem;
  }

  .section-footer {
    height: 100vh;
  }

  .footer-copyright {
    position: absolute;
    text-align: center;
    color: rgb(12, 12, 12);
    width: 100%;
    font-size: 2rem;
  }

  .footer-hit-up {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 0.8rem;
    margin-top: 45%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .back-top-footer {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 0.8rem;
    margin-top: 45%;
    margin-left: 5%;
    overflow: hidden;
  }

  .back-top-footer:hover {
    text-decoration: underline;
  }
}
